@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;

}

.visually-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.ul-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    padding: 0;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
}


a {
    text-decoration: none;
    color: #000000;
}

.layout-fixed {
    margin: 0 auto;
    width: 1160px;
    padding: 0 20px;
}

.logo {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.01em;
}

.main-header {
    position: relative;
}

.main-header .logo {
    display: block;
    margin-left: 60px;
    margin-bottom: -24px;

}

.header-yellow-bg {
    height: 186px;
    background-color: #f7e296;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;

}

.header-right-block form {
    line-height: 0;
}

.search-input {
    width: 310px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    background: url(../img/menu/search.svg) no-repeat;
    background-position: 5px 15px;
    background-color: #f7e296;
    padding-left: 40px;
    margin-top: 35px;
    padding-top: 0;
    padding-bottom: 0;

}

.search-input:hover {
    color: rgba(0, 0, 0, 0.6);
}

.input-form {
    width: 440px;
    height: 50px;
}

.input-form input:focus {
    color: #000000;
    border-bottom: 2px solid black;
}

.input-form input:focus + input {
    display: inline-block;
}

.search-button {
    width: 85px;
    height: 50px;
    border: 2px solid black;
    background: none;
    padding: 0;
    margin-left: -4px;
    display: none;
    box-sizing: border-box;
    outline: none;
}

.search-button:hover {
    color: #ffffff;
    background: #000000;
}

.search-button:active {
    color: rgba(0, 0, 0, 0.3);
    background: #000000;
    display: inline-block;
}

.catalog,
.catalog-options,
.user-navigation,
.site-navigation {
    list-style: none;
}

.catalog {
    margin-top: 60px;
}

.catalog > h2 {
    margin: 0;
    font-family: "Gilroy";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    width: 300px;
}

.catalog img {
    margin-left: 5px;
    opacity: 0.3;
}

.catalog-options {
    width: 100%;
    height: 130px;
    background-color: #f7e296;
    display: none;
    margin-top: 26px;
    position: absolute;
    left: 0;
    padding-left: 60px;
    box-sizing: border-box;

}

.catalog-header:hover + .catalog-options {
    display: flex;
    z-index: 2;
}

.catalog-options ul {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    width: 160px;
    margin-right: 40px;
}

.catalog-options ul:first-child {
    width: 200px;
}

.main-navigation {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.main-navigation .user-navigation {
    margin: 0;
}

.main-navigation .user-navigation,
.main-navigation .site-navigation {
    display: flex;
    flex-direction: row;
    padding: 0;

}

.user-navigation img {
    margin-right: 10px;
}

.user-navigation li {
    line-height: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;

}

.user-navigation .compare {
    margin-left: auto;
    margin-right: 40px;
}

.site-navigation {
    font-family: "Gilroy";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin: 45px 0 0 0;
}

.delivery-nav {
    margin-right: 40px;

}

.contacts-nav {
    margin-left: auto;

}

.interactive:hover,
.interactive:focus {
    opacity: 0.6;

}

.interactive:active {
    opacity: 0.3;
}

main {
    position: relative;
}

/*Слайдер*/

.slides {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(#f7e296 110px, white 110px);
}

.slide-img{
    width:560px;

}

.slide1{
    display: none;
}

.slide2 {
    display: none;
}

.slide3 {
    display:flex;
}

.bw-number {
    position: absolute;
    top:60px;
    right:250px;
    font-weight: 700;
    font-size: 179px;
    color: white;
    z-index: 1;
}


.lead {
    position: relative;
    width: 505px;
    font-weight: 700;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.01em;
    margin: 0;
    padding: 0;
    z-index:2;
}

.slide-info {
    width:500px;

    margin-right: 60px;
}

.slider-outline {
    width: 100px;
    height: 7px;
    background: white;
    margin-bottom:40px;
}

.slide-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #464646;
    letter-spacing: 0.01em;
    margin-top: 22px;
    margin-bottom: 42px;
}

.promo-slider-table .options {
    font-family: "Gilroy";
    font-size: 36px;
    font-weight: 300;
    color: #464646;
}

.options td {
    padding-right: 70px;
}

.promo-slider-table .property {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #464646;
}

.slider-button {
    display: block;
    width: 220px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    line-height: 40px;
    background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
    border: none;
    padding: 0;
    margin-bottom: 50px;
}



/*Популярные категории*/

.popular {
    margin-bottom: 80px;
    margin-top: 105px;

}

.popular-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popular a {
    width: 160px;
    list-style: none;
}

.popular-image {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7e296;
    margin-bottom: 35px;
}

.popular h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    text-align: left;
}

.popular-image:hover,
.popular-image:focus {
    background-color: #f0c52e;

}

.tile:active img,
.tile:active h3 {
    opacity: 0.3;
    color: rgba(0, 0, 0, 0.3);
}



/*Сервисы*/

.services {
    background-image: linear-gradient(transparent 100px, #e5e5e5 100px);
    padding-bottom: 70px;
}

.services-content {
    display: flex;
    flex-direction: row;
}

.services-navigation {
    width: 285px;
    min-height: 320px;
    border-right: 7px solid black;
}

.services-navigation ul {
    padding: 0;
    margin-top: 80px;
}

.services-navigation li {
    width: 160px;
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2em;
    line-height: 40px;
    background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
    border: none;
    cursor: pointer;
    padding: 0;
    margin-bottom: 25px;

}

.services-navigation li:hover {
    background: #f0c52e;
}

.services-navigation li:active {
    width: 285px;
    background: #000000;
    color: #f7e184;
}

.services-text {
    width: 480px;
    padding-left: 20px;
    margin-left: 100px;
    margin-right: 140px;
    margin-top: 75px;
}

.services-text h3 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 47px;
    line-height: 48px;
    margin-bottom: 40px;
}

.services-text p {
    font-family: "Open sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #464646;
}

.delivery {
    display: none;
}

.warranty {
    display: none;
}

.credit {
    display: flex;
}

/*Brands*/

.brands {
    padding: 85px 0 80px;
}

.brands ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.brands li {
    list-style: none;
}

.brand a {
    display: block;
    width: 260px;
    height: 100px;
}

.brand .dji {
    background-image: url(../img/logotypes-black/logo-1.png);
    opacity: 0.2;
}

.brands .dji:hover {
    background-image: url(../img/logotypes_colored/logo-1.png);
    opacity: 1;
}

.brands .sp-gadgets {
    background: url(../img/logotypes-black/logo-2.png) no-repeat;
    opacity: 0.2;
}

.brands .sp-gadgets:hover {
    background-image: url(../img/logotypes_colored/logo-2.png);
    opacity: 1;
}

.brands .go-pro {
    background: url(../img/logotypes-black/logo-3.png) no-repeat;
    opacity: 0.2;
}

.brands .go-pro:hover {
    background-image: url(../img/logotypes_colored/logo-3.png);
    opacity: 1;
}

.brands .vive {
    background: url(../img/logotypes-black/logo-4.png) no-repeat;
    opacity: 0.2;
}

.brands .vive:hover {
    background-image: url(../img/logotypes_colored/logo-4.png);
    opacity: 1;
}


/*О нас, Контакты*/

.about-contacts {
    display: flex;
    justify-content: space-between;
}

.about-contacts-outline {
    width: 80px;
    height: 7px;
    background: black;
    margin-bottom: 50px;
}

.about-us h3,
.contacts h3 {
    font-weight: 700;
    font-size: 47px;
    margin: 0;
    margin-bottom: 50px;
}

.about-us p,
.contacts p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #464646;
    margin: 0;
    margin-bottom: 30px;
}

.about-us {
    width: 460px;
}

.contacts {
    width: 560px;
}

.shipping-companies {
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    padding: 0;
    margin-top: 40px;
    margin-left: 20px;
    list-style-type: circle;
    list-style-position: outside;
}

.shipping-companies li {
    padding-left: 20px;
}

.about-contacts-btn {
    display: block;
    width: 260px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    line-height: 40px;
    background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
    border: none;
    padding: 0;
    margin-top: 55px;
    margin-bottom: 80px;
}

.contacts-map img {
    margin-top: 15px
}

.map-popup {
    top: 71%;
    left: 50%;
    margin-left: -470px;
    display: none;
}

.contacts-map:active + .map-popup {
    display: block;
}

.modal {
    position: absolute;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}

.modal-write-us {
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -425px;
    padding: 100px 109px 80px 90px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    display: none;
    flex-direction: column;
    background-color: white;

}

.about-contacts-btn:active + .modal-write-us {
    display: flex;
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 50px;
    height: 50px;
    background: #F7E296;
    border: 1px solid #F7E296;
    border-radius: 50%;
    opacity: 0.5;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}

.modal-close:before,
.modal-close:after {
    position: absolute;
    top: 10px;
    left: 23px;
    content: " ";
    height: 30px;
    width: 3px;
    background-color: white;

}

.modal-close:before {
    transform: rotate(45deg);
}

.modal-close:after {
    transform: rotate(-45deg);
}

.modal-row1 {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.modal-row1 input {
    width: 360px;
    height: 50px;
    margin-top: 15px;
}

.modal-row1 input:hover,
.modal-row2 textarea:hover {
    opacity: 0.8;
}

.modal-row1 input:focus,
.modal-row2 textarea:focus {
    background: white;
    border: 3px solid #EFC52D;
}

.modal-row1 input:invalid,
.modal-row2 textarea:invalid {
    background: #ECB4B4;
    opacity: 0.5;
}

.modal-row2 {
    margin-top: 38px;
}

.modal-row2 textarea {
    width: 760px;
    height: 155px;
    padding-top: 17px;
    margin-top: 10px;
    margin-bottom: 45px;
}

.modal-input {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    padding-left: 20px;
    background-color: #E5E5E5;
    border: 3px solid transparent;
    opacity: 0.5;
    box-sizing: border-box;
}

.modal-button {
    width: 200px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    line-height: 40px;
    background-color: transparent;
    background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
    border: none;
    padding: 0;
}


/*Footer*/

.page-footer {
    color: #ffffff;
    background-color: #464646;
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-footer section a:not(.logo) {
    color: #ffffff;
}

.page-footer li {
    list-style: none;
}

.footer-row .logo {
    color: #ffc600;
    line-height: 48px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-row1 {
    margin-bottom: 25px;

}

.footer-user-nav {
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-user-nav li {
    margin-right: 40px;
}

.footer-user-nav svg {
    margin-right: 10px;
}

.footer-user-nav .user-name {
    margin-right: 15px;
}

.footer-user-nav .cart {
    margin-right: 0;
}

.footer-row2 {
    margin-bottom: 60px;
}

.footer-services,
.footer-social {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer-services {
    font-family: "Gilroy";
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-right: 50px;

}

.footer-services li {
    margin-right: 40px;
}

.footer-services li:nth-child(3) {
    margin-right: 0;
}

.footer-row3 {
    align-items: center
}

.footer-outline {
    width: 80px;
    height: 7px;
    background: #FFC303;
    border: none;
}

.footer-social {
    margin-right: 50px;
}

.footer-social li {
    margin-right: 20px;
}

.footer-social li:nth-child(3) {
    margin-right: 0;
}

.footer-social-img {
    opacity: 0.3;
}

.footer-social-img:hover,
.footer-social-img:focus {
    opacity: 0.6;

}

.footer-social-img:active {
    opacity: 0.1;
}



/*inner page*/

.user-name {
    margin-right: 20px;
}

.logout a {
    color: rgba(0, 0, 0, 0.3);
}

.page-header {
    margin-left: 60px;
    margin-bottom: 40px;
}

.page-header h1 {
    margin: 0;
    padding: 0;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.01em;
    margin-top: 40px;
    margin-bottom: 20px;
}

.breadcrumbs li {
    display: inline-block;
    margin-right: 15px;
}

.breadcrumbs li::after{
    content:"";

    background: url(../img/nav-arrow.svg);
}

.breadcrumbs li a {
    color: rgba(0, 0, 0, 0.3);
}

.interactive-breadcrumbs:hover,
.interactive-breadcrumbs:focus {
    color: rgba(0, 0, 0, 0.6);

}

.interactive-breadcrumbs:active {
    opacity: 0.1;
}

.page-content {
    display: flex;
}

.left-column {
    background: #EFEFEF;
}

/*Фильтр*/

.filter {
    padding: 0;
    margin: 0;
    border: none;
}

.filter legend,
.sort h2 {
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;


}

.filter legend {
    width: 100%;
    background: #DBDBDB;
    padding-left: 60px;
}

.filter-content {
    padding-top: 70px;
    padding-right: 68px;
    padding-left: 60px;
}

.filter-item h3 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    border-top: 1px solid black;
    padding-top: 10px;
    margin-bottom: 25px;
}

.filter-item label {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    cursor: pointer;
    margin-bottom: 15px;
}

.price-controls {
    cursor: pointer;
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.2)
}

.price-controls .min-price,
.price-controls .max-price {
    width: 85px;

}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-top: 30px;
}

.range-controls .scale {
    height: 2px;
    background: #DADADA;
}

.range-controls .bar {
    width: 55%;
    height: 2px;
    background: #8FC72F;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 55%;
}

/*Фильтр цвета*/

.item-color {
    margin-top: 12px;
}

.item-color label,
.bluetooth label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-item input[type="checkbox"],
input[type="radio"] {
    display: none;
}

.item-color label:before {
    content: "";
    display: inline-block;
    height: 23px;
    width: 27px;
    margin-right: 10px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

input[type="checkbox"]:checked + label:before {
    content: "";
    width: 27px;
    height: 23px;
    margin-right: 10px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

input[type="checkbox"]:disabled + label:before {
    content: "";
    height: 23px;
    width: 27px;
    margin-right: 10px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    opacity: 0.25;
}

input[type="checkbox"]:disabled + label:before {
    content: "";
    display: inline-block;
    height: 23px;
    width: 27px;
    margin-right: 10px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    opacity: 0.25;
}

/*Фильтр Bluetooth*/

.bluetooth {
    margin-top: 45px;
}

.bluetooth label:before {
    content: "";
    display: inline-block;
    height: 27px;
    width: 27px;
    margin-right: 10px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
}

input[type="radio"]:checked + label:before {
    content: "";
    display: inline-block;
    height: 27px;
    width: 27px;
    margin-right: 10px;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
}

input[type="radio"]:disabled + label:before {
    content: "";
    display: inline-block;
    height: 27px;
    width: 27px;
    margin-right: 10px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    opacity: 0.25;
}

.interactive-filter input:hover,
.interactive-filter:focus {
    opacity: 0.6;

}

.interactive-filter:active {
    opacity: 1;
}

.filter-button {
    display: block;
    width: 200px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    line-height: 40px;
    background-color: transparent;
    background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
    border: none;
    padding: 0;
    margin-top: 30px;
}

/* :hover, :focus, :active для кнопок */

.interactive-button:hover,
.interactive-button:focus {
    background: #f0c52e;
    color: rgba(0, 0, 0, 0.6);

}

.interactive-button:active {
    color: rgba(0, 0, 0, 0.3);
}


/* Сортировка */

.sort {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background: #EFEFEF;
}

.sort h2 {
    margin-right: 60px;
    padding-left: 70px;
}

.sort-item {
    display: inline-block;
    margin-right: 30px;
}



.sort-item a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.arrows {
    margin-left: auto;
    cursor: pointer;
}

.arrow {
    opacity: 0.3;

}


.interactive-sort:hover,
.interactive-sort:focus {
    opacity: 0.6;

}

.interactive-sort:active {
    opacity: 1;
}

/* Продукты */

.items {
    padding-top: 70px;
    padding-left: 70px;
    padding-bottom: 70px;


}

.items ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 35px;

}

.item:nth-child(2n + 1) {
    margin-right: 40px;
}

.item-subscribe {
    display: flex;
    margin-top: 35px;
}

.item-title {
    width: 260px;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    line-height: 24px;

}

.price {
    font-weight: 300;
    font-size: 16px;
    color: #464646;
    margin-left: auto;
}

.item-new:before {
    content: "new";
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    color: black;
    line-height: 60px;
    opacity: 0.2;
    text-align: center;
}

.item-background {
    width: 358px;
    color: #000000;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 140px;
    position: absolute;
    top: 0;
    display: none;
}

.in-cart {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    width: 200px;
    text-align: center;
    letter-spacing: 0.2em;
    line-height: 40px;
    background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
    margin: 0 auto;

}

.in-compare {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5)
}

.interactive-compare:hover,
.interactive-compare:focus {
    color: rgb(0, 0, 0);

}

.interactive-compare:active {
    color: rgba(0, 0, 0, 0.2)
}

.item:hover img {
    cursor: pointer;
    opacity: 0.7;
}

.item:hover .item-background {
    cursor: pointer;
    display: block;
}

.paginator {
    display: flex;
    background: #EFEFEF;
    justify-content: space-around;
    letter-spacing: 0.2em;
    padding: 20px 30px;

}

.backward {
    margin-right: auto;
}

.forward {
    margin-left: auto;
}

.page {
    margin-right: 30px;
}

.paginator a {
    font-family: "Gilroy";
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.paginator a:nth-of-type(4n + 1) {
    color: rgb(0, 0, 0)
}

.interactive-page:hover,
.interactive-page:focus {
    color: rgba(0, 0, 0, 0.6);

}

.interactive-page:active {
    color: rgb(0, 0, 0)
}

.interactive-go:active {
    opacity: 0.3;
}
