@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;

}

.visually-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    margin:0;
    padding: 0;
}

body {
    padding: 0;
    font-family: 'Gilroy', 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;

}


a {
    text-decoration: none;
    color: #000000;
}

.layout-fixed{
    margin:0 auto;
    width:1200px;
}

.logo {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
}

.main-header .logo{
    display:block;
    line-height: 48px;
    margin-left:60px;
    margin-bottom: -24px;
}

.header-yellow-bg {
    height: 270px;
    background-color: #f7e296;
    padding: 15px 60px;
    display:flex;
    justify-content: space-between
}

.search-input {
    width: 310px;
    height: 48px;
    font-family: "Open Sans";
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    background: url(/img/menu/search.svg) no-repeat;
    background-position: 0 15px;
    background-color: #f7e296;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;

}

.search-input:hover {
    color: rgba(0, 0, 0, 0.6);
}

.input-form {
    width: 440px;
    height: 50px;
}

.input-form input:focus {
    color: #000000;
    border-bottom: 2px solid black;
}

.input-form input:focus + input {
    display: inline-block;
}

.search-button {
    width: 85px;
    height: 50px;
    border: 2px solid black;
    background: none;
    padding: 0;
    margin-left: -4px;
    display: none;
}

.search-button:hover {
    color: #ffffff;
    background: #000000;
}

.search-button:active {
    color: rgba(0, 0, 0, 0.3);
    background: #000000;
    display: inline-block;
}

.catalog,
.catalog-options,
.user-navigation,
.site-navigation {
    list-style: none;
}

.catalog{
    margin-top:40px;
}

.catalog > h2 {
    margin:0;
    font-family: "Gilroy";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    width: 300px;
}

.catalog img {
    opacity: 0.3;
}

.catalog-options {
    display: none;
}

.catalog-options li {
    font-family: "Open Sans";
    font-weight: 300;
}

.main-navigation {
    width: 520px;
    display: flex;
    flex-direction: column;
    margin-top:35px;
}
.main-navigation .user-navigation{
    margin:0;
}

.main-navigation .user-navigation,
.main-navigation .site-navigation {
    min-width:500px;
    display: flex;
    flex-direction:row;
    padding:0;

}
.user-navigation img{
    margin-right: 10px;
}
.user-navigation li {
    font-family: "Open Sans";
    font-weight: 300;

}
.user-navigation .compare{
    margin-left:auto;
    margin-right:35px;
}

.site-navigation {
    font-family: "Gilroy";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin:50px 0 0 0;
}

.delivery-nav{
    margin-right:40px;

}
.contacts-nav{
    margin-left:auto;

}

.interactive:hover,
.interactive:focus {
    opacity: 0.6;
    outline: none;
}

.interactive:active {
    opacity: 0.3;
}

/*Слайдер*/

.slide1{
    display:flex;
    justify-content: space-around;
    margin-top:-120px;
}
.bw-number{
    font-size:179px;
    color:white;
}
.lead {
    font-weight: 700;
    font-size: 47px;
    line-height: 56px;
}
.slide-info{
    width:500px;

}

.slide-text {
    font-family: "Open Sans";
    font-weight: 300;
    color: #464646;
}

.promo-slider-table tr:first-of-type {
    font-family: "Gilroy";
    font-size: 36px;
    font-weight: 300;
    color: #464646;
}

.promo-slider-table tr:nth-of-type(2) {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    color: #464646;
}

.slider-button {
    display: block;
    width: 220px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    background-image: linear-gradient(white 33%, #f0c52e 33%, #f0c52e 66%, white 66%);
    border: none;
    padding: 0;
}

/*Популярные категории*/

.popular {
    margin-bottom: 80px;
    margin-top: 105px;

}
.popular-wrapper{
   display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popular a {
    width: 160px;
    list-style: none;
}

.popular-image {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    background-color: #f7e296;
    margin-bottom: 35px;
}

.popular h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    text-align: left;
}

.popular-image:hover,
.popular-image:focus {
    background-color: #f0c52e;
    outline: none;
}

.tile:active img,
.tile:active h3 {
    opacity: 0.3;
    color: rgba(0, 0, 0, 0.3);
}



/*Сервисы*/

.services {
    background-color: #e5e5e5;
}
.services-content{
    display:flex;
    flex-direction: row;
    align-items: baseline;
}

.services-navigation{
    width:275px;
    min-height: 320px;
    border-right:7px solid black;
}
.services-navigation ul{
    padding: 0;
    margin-top:75px;
}
.services-navigation li {
    width: 160px;
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2em;
    background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 59%, transparent 59%);
    border: none;
    cursor: pointer;
    padding:10px 0;
    margin-bottom: 30px;

}

.services-navigation li:hover {
    background: #f0c52e;
}

.services-navigation li:active {
    width:275px;
    background: #000000;
    color: #f7e184;
}

.services-text {
    width: 480px;
    padding-left: 20px;
    margin-left: 100px;
    margin-right: 140px;
}

.services-text h3 {
    margin:0;
    padding: 0;
    font-weight: 700;
    font-size: 47px;
    line-height: 48px;
    margin-bottom: 40px;
}

.services-text p {
    font-family: "Open sans";
    font-weight: 300;
    font-size: 15px;
    color: #464646;
}

.services-item {
    display: flex;
}

/*logotypes*/

.logotypes {
    padding: 94px 0;
}

.logotypes ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.logotypes .brand {
    width: 260px;
    height: 100px;
    list-style: none;
}

.logotypes .dji {
    background-image: url(../img/logotypes-black/logo-1.png);
    opacity: 0.2;
}

.logotypes .dji:hover {
    background-image: url(../img/logotypes_colored/logo-1.png);
    opacity: 1;
}


.logotypes .sp-gadgets {
    background: url(../img/logotypes-black/logo-2.png) no-repeat;
    opacity: 0.2;
}

.logotypes .sp-gadgets:hover {
    background-image: url(../img/logotypes_colored/logo-2.png);
    opacity: 1;
}

.logotypes .go-pro {
    background: url(../img/logotypes-black/logo-3.png) no-repeat;
    opacity: 0.2;
}

.logotypes .go-pro:hover {
    background-image: url(../img/logotypes_colored/logo-3.png);
    opacity: 1;
}

.logotypes .vive {
    background: url(../img/logotypes-black/logo-4.png) no-repeat;
    opacity: 0.2;
}

.logotypes .vive:hover {
    background-image: url(../img/logotypes_colored/logo-4.png);
    opacity: 1;
}


/*О нас, Контакты*/
.about-contacts{
    display:flex;
    justify-content: space-between;
}

.about-us h3,
.contacts h3 {
    font-weight: 700;
    font-size: 47px;
    margin: 0;
    margin-bottom:50px;
}

.about-us p,
.contacts p {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    color: #464646;
    margin:0;
    margin-bottom: 50px;
}

.about-us,
.contacts {
    width: 560px;
}

.shipping-companies {
    font-size: 16px;
    font-weight: 700;
    line-height: 41px;
    padding:0;
    margin: 0;
    list-style-type: circle;
    list-style-position: inside;
}

.about-contacts-button {
    display: block;
    width: 260px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    background-image: linear-gradient(white 33%, #f0c52e 33%, #f0c52e 66%, white 66%);
    border: none;
    padding: 0;
    margin-top:70px;
    margin-bottom: 90px;
}


/*Footer*/

.page-footer {
    color: #ffffff;
    background-color: #464646;
    padding-top:60px;
}
.footer-content {
    display: flex;
    flex-direction: row;
}

.footer-block1 .logo {
    display: block;
    color: #ffc600;
    line-height: 48px;
    margin-bottom: 40px;
}

.page-footer li {
    list-style: none;
}

.footer-block1{
    margin: 0;
    padding: 0;
    margin-right: 160px;
}
.footer-block1 p{
    margin: 0;
    padding: 0;
}
.footer-block2{
    margin-top:88px;
}

.footer-services,
.footer-social{
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
}

.footer-services {
    font-size:18px;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.footer-services li{
    margin-right:35px;
}

.footer-services li:nth-child(3){
    margin-right:0;
}

.footer-social li{
    margin-right:35px;
}

.footer-social li:nth-child(3){
    margin-right:0;
}

.footer-social-img {
    opacity: 0.3;
}

.footer-social-img:hover,
.footer-social-img:focus {
    opacity: 0.6;
    outline: none;
}

.footer-social-img:active {
    opacity: 0.1;
}

.page-footer section a:not(.logo) {
    color: #ffffff;
}

.footer-block3{
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

.footer-user-nav{
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: row;
    margin-bottom:40px;
}

.footer-block3 li{
    margin-right:40px;
}

.footer-block3 .cart{
    margin-right: 0;
}
.footer-block3 p{
    padding:0;
    margin: 0;
    margin-bottom:60px;
}

/*inner page*/
.user-name{
    margin-right: 20px;
}
.logout a{
    color:rgba(0,0,0,0.3);
}
.breadcrumbs li {
    list-style: none;
    display: inline-block;
}

.breadcrumbs li a {
    color: rgba(0, 0, 0, 0.3);
}

.interactive-breadcrumbs:hover,
.interactive-breadcrumbs:focus {
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}

.interactive-breadcrumbs:active {
    opacity: 0.1;
}

.filter li,
.sort li,
.items li {
    list-style: none;
}


.filter {
    display: flex;
    flex-direction: column;
    width: 468px;
    border: none;
    padding: 0;
    border:1px dashed blue;
}

.filter legend,
.sort h2 {
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
}

.filter-item h3 {
    font-size: 18px;
    font-weight: 700;
}

.filter-item label {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
}

.light {
    font-weight: 300;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.2)
}

.filter-button {
    display: block;
    width: 200px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    background-image: linear-gradient(transparent 33%, #f0c52e 33%, #f0c52e 66%, transparent  66%);
    border: none;
    padding: 0;
}

.color input {
    display: flex;
    flex-direction: column;

}

/* :hover, :focus, :active для кнопок */

.interactive-button:hover,
.interactive-button:focus {
    background: #f0c52e;
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}

.interactive-button:active {
    color: rgba(0, 0, 0, 0.3);
}



/*чекбоксы*/
.filter-item{
    display: flex;
    flex-direction: column;
}
.item-color label,
.bluetooth label{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-item input[type="checkbox"],
input[type="radio"] {
    display: none;
}

.item-color label:before {
    content: "";
    display: inline-block;
    height: 23px;
    width: 23px;
    margin-right: 10px;
    background-image: url(../img/checkbox-off.svg);
}

input[type="checkbox"]:checked+label:before {
    content: "";
    width: 27px;
    height: 23px;
    margin-right: 10px;
    background-image: url("../img/checkbox-on.svg");
}

input[type="checkbox"]:disabled+label:before {
    content: "";
    height: 23px;
    width: 27px;
    margin-right: 10px;
    background-image: url(../img/checkbox-on.svg);
    opacity: 0.25;
}

input[type="checkbox"]:disabled+label:before {
    content: "";
    display: inline-block;
    height: 23px;
    width: 27px;
    margin-right: 10px;
    background-image: url(../img/checkbox-off.svg);
    opacity: 0.25;
}


.bluetooth label:before {
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    background-image: url("../img/radio-off.svg");
}

input[type="radio"]:checked+label:before {
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    background-image: url("../img/radio-on.svg");
}
input[type="radio"]:disabled+label:before {
    content: "";
    display: inline-block;
    height: 23px;
    width: 27px;
    margin-right: 10px;
    background-image: url(../img/checkbox-off.svg);
    opacity: 0.25;
}
.interactive-filter input:hover,
.interactive-filter:focus {
    opacity: 0.6;
    outline: none;
}

.interactive-filter:active {
    opacity: 1;
}


/* Сортировка */

.sort {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border:1px dashed pink;
}

.sort-item {
    display: inline-block;
}



.sort-item a {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.arrow {
    opacity: 0.3;
}

.interactive-sort:hover,
.interactive-sort:focus {
    opacity: 0.6;
    outline: none;
}

.interactive-sort:active {
    opacity: 1;
}

/* Продукты */

.item-wrapper {
    position: relative;
}

.item-title a {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.price {
    font-weight: 300;
    font-size: 16px;
    color: #464646;
}

.item-background {
    width: 360px;
    color: #000000;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 140px;
    position: absolute;
    top: 0;
    display: none;
}

.in-cart {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    width: 200px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2em;
    background-image: linear-gradient(transparent 33%, #f0c52e 33%, #f0c52e 66%, transparent 66%);
    margin: 0 auto;

}

.in-compare {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5)
}

.interactive-compare:hover,
.interactive-compare:focus {
    color: rgb(0, 0, 0);
    outline: none;
}

.interactive-compare:active {
    color: rgba(0, 0, 0, 0.2)
}

.item-wrapper:hover img {
    cursor: pointer;
    opacity: 0.7;
}

.item-wrapper:hover .item-background {
    cursor: pointer;
    display: block;
}

.paginator a {
    font-family: "Gilroy";
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.paginator a:nth-of-type(4n + 1) {
    color: rgb(0, 0, 0)
}

.interactive-page:hover,
.interactive-page:focus {
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}

.interactive-page:active {
    color: rgb(0, 0, 0)
}

.interactive-go:active {
    opacity: 0.3;
}
