@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;

}

.visually-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;

}


a {
    text-decoration: none;
    color: #000000;
}

.header-yellow-bg {
    width: 1040px;
    height: 300px;
    background-color: #f7e296;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 40px;
}

.search-input {
    width: 310px;
    height: 49px;
    font-family: "Open Sans";
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    background: url(/img/menu/search.svg) no-repeat;
    background-position: 0 15px;
    background-color: #f7e296;
    outline: none;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;

}

.search-input:hover {
    color: rgba(0, 0, 0, 0.6);
}

.input-form {
    width: 440px;
    height: 50px;
}

.input-form input:focus {
    color: #000000;
    border-bottom: 2px solid black;
}

.input-form input:focus + input {
    display: inline-block;
}

.search-button {
    width: 85px;
    height: 50px;
    border: 2px solid black;
    background: none;
    padding: 0;
    margin-left: -4px;
    display: none;
}

.search-button:hover {
    color: #ffffff;
    background: #000000;
}

.search-button:active {
    color: rgba(0, 0, 0, 0.3);
    background: #000000;
    display: inline-block;
}

.logo {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 40px;
}

.main-header-logo {
    position: absolute;
    top: 25px
}


.catalog,
.catalog-options,
.user-navigation,
.site-navigation {
    list-style: none;
}

.catalog > h2 {
    font-family: "Gilroy";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    width: 300px;
}

.catalog img {
    opacity: 0.3;
}

.catalog-options {
    display: none;
}



.catalog-options li {
    font-family: "Open Sans";
    font-weight: 300;
}

.main-navigation {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0;
}


.user-navigation li,
.site-navigation li {
    display: inline-block;
}

.user-navigation li {
    font-family: "Open Sans";
    font-weight: 300;
}

.site-navigation {
    font-family: "Gilroy";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.interactive:hover,
.interactive:focus {
    opacity: 0.6;
    outline: none;
}

.interactive:active {
    opacity: 0.3;
}

/*Слайдер*/

.lead {
    font-weight: 700;
    font-size: 47px;
}

.slide-text {
    font-family: "Open Sans";
    font-weight: 300;
    color: #464646;
}

.promo-slider-table tr:first-of-type {
    font-family: "Gilroy";
    font-size: 36px;
    font-weight: 300;
    color: #464646;
}

.promo-slider-table tr:nth-of-type(2) {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    color: #464646;
}

.slider-button {
    display: block;
    width: 220px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    background-image: linear-gradient(white 33%, #f0c52e 33%, #f0c52e 66%, white 66%);
    border: none;
    padding: 0;
}

/*Популярные категории*/

.popular {
    text-align: left;
    margin-left: 140px;
}

.popular a {
    width: 160px;
    display: inline-block;
    list-style: none;
    text-align: left;
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 80px;
}

.popular-image {
    width: 160px;
    height: 160px;
    display: flex;
    background-color: #f7e296;
    margin-bottom: 35px;
}

.popular-image img {
    margin: auto;
}

.popular h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    vertical-align: bottom;
}



.popular-image:hover,
.popular-image:focus {


    background-color: #f0c52e;
    outline: none;
}

.tile:active img,
.tile:active h3 {
    opacity: 0.3;
    color: rgba(0, 0, 0, 0.3);
}



/*Сервисы*/

.services {
    height: 290px;
    background-color: #e5e5e5;
    display: flex;
}

.services-navigation ul {
    padding-left: 140px;

}

.services-navigation li {
    width: 160px;
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-align: center;
    background-image: linear-gradient(#e5e5e5 33%, #f0c52e 33%, #f0c52e 66%, #e5e5e5 66%);
    border: none;
    padding: 0;
}

.services-navigation li:hover {
    background: #f0c52e;
}

.services-navigation li:active {
    background: #000000;
    color: #f7e184;
}

.services-text {
    width: 480px;
}

.services-text h3 {
    font-weight: 700;
    font-size: 47px;
}



.services-text p {
    font-family: "Open sans";
    font-weight: 300;
    font-size: 15px;
    color: #464646;
}

.services-item {
    width: 720px;
    display: flex;
}

/*logotypes*/

.logotypes {
    padding: 94px 120px;
}

.logotypes ul {
    padding: 0;
}

.logotypes .brand {
    width: 260px;
    height: 100px;
    list-style: none;
    display: inline-block;
    margin-right: 40px;

}

.logotypes .dji {
    background-image: url(../img/logotypes-black/logo-1.png);
    opacity: 0.2;
}

.logotypes .dji:hover {
    background-image: url(../img/logotypes_colored/logo-1.png);
    opacity: 1;
}


.logotypes .sp-gadgets {
    background: url(../img/logotypes-black/logo-2.png) no-repeat;
    opacity: 0.2;
}

.logotypes .sp-gadgets:hover {
    background-image: url(../img/logotypes_colored/logo-2.png);
    opacity: 1;
}

.logotypes .go-pro {
    background: url(../img/logotypes-black/logo-3.png) no-repeat;
    opacity: 0.2;
}

.logotypes .go-pro:hover {
    background-image: url(../img/logotypes_colored/logo-3.png);
    opacity: 1;
}

.logotypes .vive {
    background: url(../img/logotypes-black/logo-4.png) no-repeat;
    opacity: 0.2;
}

.logotypes .vive:hover {
    background-image: url(../img/logotypes_colored/logo-4.png);
    opacity: 1;
}


/*О нас, Контакты*/

.about-us h3,
.contacts h3 {
    font-weight: 700;
    font-size: 47px;
}

.about-us p,
.contacts p {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    color: #464646;
    margin: 0 0 30px 0;
}

.about-us,
.contacts {
    width: 460px;
    display: inline-block;
    vertical-align: top;
}

.shipping-companies {
    font-size: 16px;
    font-weight: 700;
}

.about-contacts-button {
    display: block;
    width: 260px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    background-image: linear-gradient(white 33%, #f0c52e 33%, #f0c52e 66%, white 66%);
    border: none;
    padding: 0;
}


/*Footer*/

.page-footer {
    color: #ffffff;
    background-color: #464646;
}

.footer-logo {
    color: #ffc600;
}

.page-footer section {
    display: inline-block;
}

.page-footer section li {
    display: inline-block;
    list-style: none;

}

.page-footer section a:not(.logo) {
    color: #ffffff;
}

.footer-block3 > ul > li > a > svg,
.footer-block3 > a > svg {
    fill: #ffc600;
}

.footer-social-img {
    opacity: 0.3;
}

.footer-social-img:hover,
.footer-social-img:focus {
    opacity: 0.6;
    outline: none;
}

.footer-social-img:active {
    opacity: 0.1;
}

/*inner page*/

.breadcrumbs li {
    list-style: none;
    display: inline-block;
}

.breadcrumbs li a {
    color: rgba(0, 0, 0, 0.3);
}

.interactive-breadcrumbs:hover,
.interactive-breadcrumbs:focus {
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}

.interactive-breadcrumbs:active {
    opacity: 0.1;
}

.filter li,
.sort li,
.items li {
    list-style: none;
}


.filter {
    width: 468px;
    border: none;
    background-color: #eeeeee;
    padding: 0;
}

.filter legend,
.sort h2 {
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 0;
}

.filter-item h3 {
    font-size: 18px;
    font-weight: 700;
}

.filter-item label {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
}

.light {
    font-weight: 300;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.2)
}

.filter-button {
    display: block;
    width: 200px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    background-image: linear-gradient(#efefef 33%, #f0c52e 33%, #f0c52e 66%, #efefef 66%);
    border: none;
    padding: 0;
}

.color input {
    display: flex;
    flex-direction: column;

}

/* :hover, :focus, :active для кнопок */

.interactive-button:hover,
.interactive-button:focus {
    background: #f0c52e;
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}

.interactive-button:active {
    color: rgba(0, 0, 0, 0.3);
}



/*чекбоксы*/

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

input[type="checkbox"]+label:before {
    content: "";
    display: flex;
    height: 23px;
    width: 23px;
    margin-right: 10px;
    background-image: url(../img/checkbox-off.svg);
}

input[type="checkbox"]:checked+label:before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 23px;
    margin-right: 10px;
    background-image: url("../img/checkbox-on.svg");
}

input[type="checkbox"]:checked:disabled {
    content: "";
    display: inline-block;
    height: 23px;
    width: 27px;
    margin-right: 10px;
    background-image: url(../img/checkbox-on.svg);
    opacity: 0.25;
}

input[type="checkbox"]:disabled {
    content: "";
    display: inline-block;
    height: 23px;
    width: 27px;
    margin-right: 10px;
    background-image: url(../img/checkbox-off.svg);
    opacity: 0.25;
}


input[type="radio"] {
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    background-image: url("../img/radio-off.svg");
}

input[type="radio"]:checked {
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    background-image: url("../img/radio-on.svg");
}

.interactive-filter input:hover,
.interactive-filter:focus {
    opacity: 0.6;
    outline: none;
}

.interactive-filter:active {
    opacity: 1;
}


/* Сортировка */

.sort {
    display: flex;
}

.sort-item {
    display: inline-block;
}



.sort-item a {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.arrow {
    opacity: 0.3;
}

.interactive-sort:hover,
.interactive-sort:focus {
    opacity: 0.6;
    outline: none;
}

.interactive-sort:active {
    opacity: 1;
}

/* Продукты */

.item-wrapper {
    position: relative;
}

.item-title a {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.price {
    font-weight: 300;
    font-size: 16px;
    color: #464646;
}

.item-background {
    width: 360px;
    color: #000000;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 140px;
    position: absolute;
    top: 0;
    display: none;
}

.in-cart {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    width: 200px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2em;
    background-image: linear-gradient(transparent 33%, #f0c52e 33%, #f0c52e 66%, transparent 66%);
    margin: 0 auto;

}

.in-compare {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5)
}

.interactive-compare:hover,
.interactive-compare:focus {
    color: rgb(0, 0, 0);
    outline: none;
}

.interactive-compare:active {
    color: rgba(0, 0, 0, 0.2)
}

.item-wrapper:hover img {
    cursor: pointer;
    opacity: 0.7;
}

.item-wrapper:hover .item-background {
    cursor: pointer;
    display: block;
}

.paginator a {
    font-family: "Gilroy";
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.paginator a:nth-of-type(4n + 1) {
    color: rgb(0, 0, 0)
}

.interactive-page:hover,
.interactive-page:focus {
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}

.interactive-page:active {
    color: rgb(0, 0, 0)
}

.interactive-go:active {
    opacity: 0.3;
}
